aside {
    width: 50vw;
    margin: 0 auto 3% auto;
    height: 50px;
    p {
        padding: 2%;
        overflow: hidden;
        -webkit-text-emphasis-color: red;
        text-overflow: ellipsis;
        box-shadow: 0 0 1px 0;
        a {
            text-emphasis: 29px;
            color: #000;
        }
    }
}